* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

  }
  
  
  main{
    display: flex;
    /* width: 100vw; */
    flex-direction: row;
  }


   #produtos-container {
    display: flex;
    flex-direction: row;

    height: auto;
    flex-wrap: wrap; 
    padding: 5%; 
  } 

  #produtos-container img{
    width: 200px;
  }
  /* .card{
    display: flex;
    flex-direction: row;
  } */

